* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background: #F4F4F4;
    box-sizing: border-box;
}
.header {
    background-color: black;
    color: white;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    }

.hero-section {
    text-align: center;
    margin-top: 120px;
}

.hero-section-image {
    display: flex;
    gap: 20px;
}

.hero-section--title--bg {
    font-size: 70px;
    color: #303030;
    font-weight: bold;
}

.hero-section--title--sm {
    font-size: 24px;
    color: #ababab;
    font-weight: bold;
}

.photos {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo {

}

.Destination {
    margin: auto;
    margin-top: 240px;
    max-width: 1200px;
    display: flex;
    gap: 150px;
}

.about1 {
    color: #ababab;
    font-size: 24px;
}

.about2 {
    color: #303030;
    font-size: 48px;
    font-weight: bold;
}

.steps {
    margin-top: 80px
}

.step {
    display: flex;
    gap: 16px;
    align-items: center;
}

.D {
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    color: #16A94A;
    border-radius: 50%;
    background-color:  #1D1F24;
    font-weight: 700;
    font-size: 17px;
    display: flex;
}

.D:hover {
    background-color: #16A94A;
    color: #1D1F24;
}

.location {
    display: block;
}

.loc {
    font-size: 16px;
    font-weight: 700;
}

.city {
    font-size: 12px;
    font-weight: 400;
}

.pricing--header{
    margin-top: 240px;
    text-align: center;
}

.cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pack {
    font-size: 24px;
    font-weight: 700;
}

.card1 {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 285px;
    min-height: 370px;
}

.card2 {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 285px;
    min-height: 370px;
}

.card1:hover {
    border: #16A94A 2px solid;
}

.card2:hover {
    border: #16A94A 2px solid;
}

.list {
    color: #777777;
    font-size: 20px;
    font-weight: 500;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: left;
}

.price {
    color: #303030;
    font-size: 32px;
    font-weight: 700;
    align-self: flex-end;
}

footer {
    margin: auto;
    margin-top: 240px;
    padding: 150px 0;
    text-align: center;
    background-color: black;    
    color: #ffffff;
}

.footer--header {
    font-size: 32px;
}
 
.foot {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 80px 120px;
}

.pinetour--logo {
    width: 50px;
    height: 42px;
}
.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button--order {
    margin: auto;
    background-color: #16A94A;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
}

.button--order:hover {
    background-color: lightblue;
}

.button--contact {
    box-sizing: border-box;
    background-color: #303030;
    display: flex;
    color: #ffffff;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    min-height: 44px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:601px) and (max-width:1028px) {
    .hero-section--title--bg {
        font-size: 48px;
    }
    .hero-section--title--sm {
        font-size: 18px;
    }
    .photos {
        flex-wrap: wrap;
    }
    .photo {
        width: 284px;
    }
    .destination--img {
        display: none;
    }
    .Destination {
        justify-content: center;
    }
    .about1 {
        font-size: 16px;
        text-align: center;
    }
    .about2 {
        font-size: 32px;
        text-align: center;
    }
    .steps {
        justify-content: center;
    }
    .pinetour--logo {
        width: 50px;
        height: 42px;
    }
    .footer--header {
        font-size: 24px;
    }
    .button--order {
        font-size: 12px;
        padding: 8px 16px;
    }
    .button--contact {
        font-size: 12px;
        padding: 8px 16px;
    }
    .logos {
        gap: 10px;
    }
} 

@media screen and (max-width:600px) {
    .hero-section--title--bg {
        font-size: 32px;
    }
    .hero-section--title--sm {
        font-size: 12px;
    }
    .photos {
        flex-wrap: wrap;
    }
    .hero-section-image {
        display: flex;
        flex-direction: column;
    }
    .photo {
        width: 244px;
    }
    .destination--img {
        display: none;
    }
    .Destination {
        justify-content: center;
    }   
    .about1 {
        font-size: 16px;
        text-align: center;
    }
    .about2 {
        font-size: 24px;
        text-align: center;
    }
    .steps {
        justify-content: center;
    }
    .cards {
        flex-wrap: wrap;
    }
    .footer--header {
        font-size: 16px;
    }
    .footer--header {
        font-size: 24px;
    }
    .button--order {
        font-size: 12px;
        padding: 8px 16px;
    }
    .button--contact {
        font-size: 12px;
        padding: 5px 10px;
    }
    .logos {
        gap: 10px;
        margin-top: 15px;
    }
    .foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pinetour--logo--section {
        display: flex;
        justify-content: center;
    }
}   